.container {
  display: grid;
  grid-template-columns: 50% auto;
  border: 1px solid black;
}

.col {
  padding: .4em 1.3em;
}

.color-dark {
  background: black;
  color: white;
}

.color-light {
  background: beige;
}

input.txt {
  border: 1px solid black;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
}

textarea {
  border: 1px solid black;
  width: 85%;
  padding: 1em;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 2em;
}

input.btn {
  font-size: .5em;
  border: 0;
  display: block;
  padding: 1em 3em;
  background: purple;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
}

.post-container {
  background: darkgrey;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
}
