body {
  background-color: beige;
  padding: 3em;
  font-size: 25px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;

}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}

a{
  color: purple;
  text-decoration: none;
}
